BasedOnStyle: Microsoft
LineEnding: LF
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Allman
BraceWrapping:
  AfterNamespace: true
NamespaceIndentation: None
AccessModifierOffset: -4
IndentCaseLabels: true
InsertBraces: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
MacroBlockBegin: '^HYP_(UNIFORM(_FLAT)?|STRUCTURED)_BEGIN$'
MacroBlockEnd: '^HYP_(UNIFORM|STRUCTURED)_END$'
StatementMacros:
  - HYP_SHADER_CONTRACT
  - HYP_CONTRACT_POLICY
  - HYP_RESOURCE_NAMESPACE
  - HYP_UNIFORM_FIELD
  - HYP_SHADER_VALUE
  - HYP_UNIFORM_WIRE_NAMESPACE
  - HYP_SEMANTIC_WIRE
  - HYP_SEMANTIC_CONVENTION
  - HYP_SEMANTIC_POLICY
  - HYP_SEMANTIC_ALIAS
  - HYP_UNIFORM_ALIAS
  - HYP_INSTANCE_ARRAY
  - HYP_UNIFORM_ABI_OFFSET
  - HYP_UNIFORM_ABI_SIZE
  - HYP_TEXTURE_2D
  - HYP_TEXTURE_CUBE
  - HYP_RW_TEXTURE_2D
  - HYP_SAMPLER
  - HYP_COMPARISON_SAMPLER
  - HYP_READ_BUFFER
  - HYP_STRUCTURED_FIELD
  - HYP_RESOURCE_SHADER_NAME
