root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{h,cpp,hlsl,hlsli}]
end_of_line = lf
indent_style = tab
indent_size = 4
tab_width = 4

[*.{py,ps1}]
indent_style = space
indent_size = 4

[*.{cmake,json,yaml}]
indent_style = space
indent_size = 2
